#elenco-feminino{
    display: flex;
    flex-wrap: wrap;
}

#elenco-masculino{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 770px){
    /*tablet*/
}

@media screen and (min-width: 1024px){
    /*desktop*/
}
